# ===
# BACKEND
# ===

# Application Database Configuration (runtime)
APP_DB_NAME=<NAME>
APP_DB_USER=<USER>
APP_DB_PASSWORD=<PASSWORD>
APP_DB_URL_HOST=<HOST>
APP_DB_URL_PORT=<PORT>

# Keycloak Database Configuration (runtime)
KEYCLOAK_DB_NAME=<NAME>
KEYCLOAK_DB_USER=<USER>
KEYCLOAK_DB_PASSWORD=<PASSWORD>
KEYCLOAK_DB_URL_HOST=<HOST>
KEYCLOAK_DB_URL_PORT=<PORT>

# Keycloak OIDC Configuration
KEYCLOAK_HOSTNAME=<URL>
KEYCLOAK_START_MODE=<dev|prod>
KEYCLOAK_REALM=<REALM>
KEYCLOAK_ADMIN=<ADMIN>
KEYCLOAK_ADMIN_PASSWORD=<PASSWORD>
KEYCLOAK_CLIENT_ID=<ID>
KEYCLOAK_CLIENT_SECRET=<SECRET>
KEYCLOAK_HTTP_ENABLED=<true|false>
KEYCLOAK_HOSTNAME_STRICT=<true|false>
KEYCLOAK_PROXY_HEADERS=<xforwarded|forwarded>
KEYCLOAK_APP_ORIGIN=<URL>
KEYCLOAK_APP_CALLBACK_URL=<KEYCLOAK_APP_ORIGIN>/api/auth/oauth2/callback/keycloak
KEYCLOAK_SUPER_ADMIN_USERNAME=<ADMIN>
KEYCLOAK_SUPER_ADMIN_EMAIL=<EMAIL>
KEYCLOAK_SUPER_ADMIN_FIRST_NAME=<FIRSTNAME>
KEYCLOAK_SUPER_ADMIN_LAST_NAME=<LASTNAME>
KEYCLOAK_SUPER_ADMIN_PASSWORD=<PASSWORD>

# pgAdmin Configuration
PGADMIN_EMAIL=<EMAIL>
PGADMIN_PASSWORD=<PASSWORD>

# ===
# FRONTEND
# ===

# App Configuration
PORT=<PORT>
ELECTRIC_URL=<URL>
BETTER_AUTH_SECRET=<SECRET>
BETTER_AUTH_URL=<URL>
VITE_BETTER_AUTH_URL=<URL>

# Database URL for Drizzle
DATABASE_URL=postgresql://<APP_DB_USER>:<APP_DB_PASSWORD>@localhost:5432/<APP_DB_NAME>

# Keycloak OIDC Configuration
KEYCLOAK_ISSUER=<KEYCLOAK_URL>/realms/checkpad
KEYCLOAK_CLIENT_ID=<ID>
KEYCLOAK_CLIENT_SECRET=<SECRET>

# Seeding data
RUN_SEED=<true|false>
